*,
::before,
::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}

body {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	line-height: 1.2;
	font-size: clamp(0.5rem, 0.5rem + 1.5vw, 1.2rem);
	padding: 2rem;
	min-height: 100dvh;
	display: flex;
	justify-content: center;
	align-items: center;
}

button {
	padding: 0.5rem 0;
	width: 50%;
	cursor: pointer;
	transition: transform 0.3s ease-in-out;
	border: none;
	font-weight: 600;
	font-size: 1rem;
	border-radius: 10px;
}

button:hover {
	transform: scale(1.1);
}

main {
	display: grid;
	grid-template-columns: 1fr 1fr;
	max-width: 1920px;
	padding: 1rem 1.5rem;
	box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2), 0 10px 20px rgba(0, 0, 0, 0.1);
}

.left,
.right {
	display: flex;
	flex-direction: column;
	gap: 3rem;
	height: 100%;
	width: 100%;
}
.right {
	background: url("assets/granite-highlight.webp");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	overflow: hidden;
	align-items: center;
	justify-content: center;
	position: relative;
}

h1,
.logo {
	font-size: clamp(1.2rem, 1.2rem + 1.1vw, 1.6rem);
}
.title {
	width: 100%;
}
.txt {
	max-width: 80%;
	line-height: 1.5;
	opacity: 0.7;
}

span {
	font-weight: bolder;
}

nav {
	display: flex;
	gap: 1.1rem;
}
nav a {
	font-size: clamp(0.7rem, 0.7rem + 1.1vw, 1.2rem);
	font-weight: bold;
}

.social-links {
	display: flex;
	gap: 20px;
	margin-top: auto;
}

.social-icon {
	font-size: 1.2rem;
	text-decoration: none;
	transition: transform 0.3s ease, color 0.3s ease;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 1rem;
}

.social-icon:hover {
	transform: translateY(-5px);
}

.circle1,
.circle2 {
	align-self: center;
	border-radius: 50%;
	aspect-ratio: 1/1;
	background-image: url("assets/granite-highlight.webp");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-blend-mode: multiply;
	position: absolute;
}
.circle1 {
	width: 180px;
	height: 180px;
	top: 45%;
	right: 25%;
}
.circle2 {
	width: 250px;
	height: 250px;
	top: 15%;
	right: 35%;
}

@media (max-width: 769px) {
	body {
		padding: 1rem;
	}
	main {
		grid-template-columns: 1fr 1fr;
		grid-template-areas:
			"logo nav"
			"title title"
			"circles circles"
			"txt txt"
			"btn social";
		box-shadow: none;
		width: 100vw;
		gap: 4rem 1.5rem;
		align-items: center;
		padding: 2rem 1rem;
	}
	.left,
	.right {
		display: contents;
	}

	.left .logo {
		grid-area: logo;
	}
	.right nav {
		grid-area: nav;
		gap: 0.8rem;
		justify-self: flex-start;
	}

	h1 {
		grid-area: title;
	}
	.circle1,
	.circle2 {
		grid-area: circles;
		justify-self: center;
		align-self: center;
		position: static;
		inset: auto;
	}

	.circle2 {
		width: 200px;
		height: 200px;
		z-index: 10;
		transform: translate(-30px, -25px);
	}

	.circle1 {
		width: 130px;
		height: 130px;
		transform: translate(60px, 50px);
	}
	.txt {
		grid-area: txt;
	}

	button {
		grid-area: btn;
		justify-self: center;
		width: max-content;
		margin-top: 2rem;
		padding: 0.3rem 1rem;
	}
	.social-links {
		grid-area: social;
	}
	.txt {
		opacity: 1;
		font-weight: 500;
	}
}
@media (min-width: 769px) and (max-width: 1023px) {
	.txt {
		max-width: 40vw;
	}

	.circle1 {
		width: 150px;
		height: 150px;
		top: 40%;
		right: 18%;
	}

	.circle2 {
		width: 200px;
		height: 200px;
		top: 25%;
		right: 38%;
	}

	.left,
	.right {
		gap: 2rem;
	}
}

@media(max-width:330px) {
	nav a {
		font-size: 0.8rem;
	}
}
